header {
    height: 600px;
    background-image: url('/resources/Banner Image.png');
    background-repeat: no-repeat;
    background-position-x: center;

   
    
}
header > section {
    color: aliceblue;
    text-align: center;
    font-weight: 800;
    padding-top: 170px;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    line-height: 14px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 85%);
    margin-left: 260px;
    margin-right: 260px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;

  
   
   

}
header > section > h1 {
    padding-bottom: 16px;
}

header > section > p {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0%;
   
}

.sale{
    text-align: center;
    
}
