/* This Website is designed on width: 1320px */
header {
    height: 600px;
    background-image: url('/resources/Banner Image.png');
    background-repeat: no-repeat;
    background-position-x: center;

   
    
}
header > section {
    color: aliceblue;
    text-align: center;
    font-weight: 800;
    padding-top: 170px;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    line-height: 14px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 85%);
    /* margin-left: 10%;
    margin-right: 10%; */
    
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    position: sticky;
    left: 14.5%;

  
   
   

}
header > section > h1 {
    padding-bottom: 16px;
}

header > section > p {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0%;
   
}

.sale{
    text-align: center;
    margin-top: 150px;
    
    
}
#offer {
    font-size: 88px;
    color: #f00;
    font-weight: 700;
    font-family: inter, sans-serif;
    margin: 56px;
}
.sale > div > p {
    font-size: 24px;
    color: #f00;
    font-weight: 500;
    font-family: inter, sans-serif;
}
.sale > div > h2{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.sale > div > img {
    margin: 75px;
}
.invitation{
    background-image: url('/resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    /* padding:0% 15%; */
    margin-bottom: 100px;
    
}

.invitation > div > h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    padding: 0%;
    margin-bottom: 0%;
    padding-left: 150px;
    padding-top: 50px;
}
.invitation > div > p {
    padding-right: 150px ;
    color: aliceblue;
    padding-bottom: 20px;
    padding-left: 150px;
}
.invitation > div > a {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 3%;
    margin-left: 200px;
}
.invitation > div > a:hover {
    background-color: #f00;
    padding: 20px 15px;
    border-radius: 5px;
}
.invitation > div > img {
    padding-top: 50px;
    padding-right: 150px;

}
#in-text {    
    width: 1320px;
    height: 600px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    
}
.event {
    text-align: center;
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding-top: 100px;
    border-radius: 16px;
    margin-bottom: 5%;
}
.event > div > p{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
   
}
.event > div > button {
    color: #FFF;
    background-color: #f00;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    padding: 15px 25px;
    margin-top: 25px;
}
.event > div > p > span {
    color: #f00;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}